@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
      /* COLORS */
  --rtc-color-1: #F2EDEB;
  --rtc-color-2: #ff8000;
  --rtc-color-3: #deecff;
  --rtc-color-4: rgb(49, 42, 42);

  --rtc-bgColor: var(--rtc-color-4);
  --rtc-highlight: var(--rtc-color-2);
  --rtc-borderColor: var(--rtc-color-3);
  --rtc-text: var(--rtc-color-4);

  /* BORDER RADIUS */
  --rtc-border-radius: 15px;

  /* SPACINGS */
  --rtc-margin-xs: 5px;
  --rtc-margin-s: 10px;
  --rtc-margin-m: 20px;
  --rtc-margin-l: 30px;
  --rtc-margin-xl: 40px;

  --rtc-padding-xs: 5px;
  --rtc-padding-s: 10px;
  --rtc-padding-m: 20px;
  --rtc-padding-l: 30px;
  --rtc-padding-xl: 60px;

  --rtc-gap-xs: 5px;
  --rtc-gap-s: 10px;
  --rtc-gap-m: 20px;
  --rtc-gap-l: 40px;
  --rtc-gap-xl: 80px;

  --rtc-size-h2: 2.5rem;
  --rtc-size-p: 1.3rem;

}

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    /* background-color: var(--rtc-color-1); */
    background-color: var(--rtc-bgColor);
    color: var(--rtc-color-1);
}

ul {
    list-style: none;
}

h2 {
    color: var(--rtc-color-2);
}

@media screen and (max-width: 775px) {
    #skills {
        display: none;
    }
}

p {
    font-size: var(--rtc-size-p);
}